platform-business/src/test/
external-libs/
platform-business-users/src/test/
platform-business-nfc/src/test/
platform-business-server/src/test/
platform-common/src/test/
.iml
platform-management/logs
platform-business/logs
*.iml
*/target/*
/target
.idea
src/main/resources/rebel.xml
src/main/resources/rebel-remote.xml
.gradle
/dependency-reduced-pom.xml
src/main/resources/git.properties
